@model IEnumerable<CovidTrackerApplication.Models.DailyDataRow>

@{
    ViewBag.Title = "Covid Data";
}

<div class="row">
    
    <div class="col-12">

        @(Html.Kendo().Grid<CovidTrackerApplication.Models.DailyDataRow>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.Id).Filterable(false);
                columns.Bound(p => p.date).Filterable(true);
                columns.Bound(p => p.state).Filterable(true);
                columns.Bound(p => p.positive);
                columns.Bound(p => p.negative);
                columns.Bound(p => p.pending);
                columns.Bound(p => p.totalTestResults);
                columns.Bound(p => p.hospitalizedCurrently);
                columns.Bound(p => p.hospitalizedCumulative);
                columns.Bound(p => p.death);
            })
            .Pageable()
            .Sortable()
            .Scrollable()
            .Filterable()
            .HtmlAttributes(new { style = "height:550px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Read(read => read.Action("Data_Read", "Grid"))
            )
        )
    </div>
</div>
